{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
<div class="container-fluid">
<div class="row">
    <div class="col-md">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Mon compte</h5>
                <p>
                    You can find your informations below :
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Nom: {{app.user.name}}</li>
                <li class="list-group-item">Prenom: {{app.user.firstName}}</li>
                <li class="list-group-item">Email: {{app.user.email}}</li>
                <li class="list-group-item">Centre: {{app.user.center.denomination}}</li>
            </ul>
            
        </div>
    </div>
    <div class="col-md">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Administrate</h5>
                <p>
                    Here are the action you are allowed to do:
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="" class="btn btn-dark btn-block">Delete My account (disabled)</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
{% endblock %}