{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">BDE Strasbourg | Connexion</h1>
        <p class="lead">
            Bienvenue sur le site de votre bde ! veuillez vous connecter pour accèdez a toutes les fonctionalitée
        </p>
    </div>
</div>
<div class="m-4 text-center">
    {% if error %}
        <div class="alert alert-danger">
            {{error.messageKey}}
        </div>
    {% endif %}

    <form action=" {{ path('security_login') }}" class="form-signin ml-1 mr-1" method="post">
            <input placeholder="Email" required name="_username" type="text" class="bordered form-control"></input>
            <input placeholder="Password" required name="_password" type="password" class="bordered form-control"></input>
    
            <button type="submit" class="btn btn-dark btn-block colored bordered">
                Se connecter
            </button>
        
        <div class="mt-4">
            <span class="meta">Vous n'avez pas encore liez votre compte CESI ?</span> 
            <br />
            <a href="{{path('security_register')}}">Inscrivez-vous</a>
        </div>
    </form>
</div>
{% endblock %}
