{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>


	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">BDE Strasbourg</h1>
			<p class="lead">Bienvenue sur le site du BDE Strasbourg ! Vous retrouverez ici les dates de tous nos événements ainsi que notre boutique !</p>
		</div>
	</div>

	<div
		class="background mt-1 mx-auto"><!--<p class="titleindex">Le meilleur BDE de votre région</p> <span class="titleindex2"> Campus Strasbourg </span>-->
	</div>

	<div class="mx-auto text-center" style="">
		<h3>Toutes nos associations</h3>

		<div class="container mt-5 mb-5">
			<div class="row">
				<div class="col-sm-4 text-center">
					<div class="card bdr-card border-top-0 border-right-0 border-bottom-0">
						<div class="card-body">
							<h5 class="card-title">CESI Pêche & Tradition</h5>
							<p class="card-text">Cette association de divertissement vous permettera de passer de superbe après midi à pêcher!</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4 text-center">
					<div class="card bdr-card border-top-0 border-right-0 border-bottom-0">
						<div class="card-body">
							<h5 class="card-title">CESI Jackpot</h5>
							<p class="card-text">...</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4 text-center">
					<div class="card bdr-card border-top-0 border-right-0 border-bottom-0">
						<div class="card-body">
							<h5 class="card-title">Enk'</h5>
							<p class="card-text">Elle s'occupe de l'approvisionnement en nourriture au sein de l'école.</p>
						</div>
					</div>
				</div>
                <div class="col-sm-4 text-center mt-5">
					<div class="card bdr-card border-top-0 border-right-0 border-bottom-0">
						<div class="card-body">
							<h5 class="card-title">CESI LAN</h5>
							<p class="card-text">Vous aurez droit au meilleur compétition LAN sur divers jeux avec cette association!</p>
						</div>
					</div>
				</div>
                <div class="col-sm-4 text-center mt-5">
					<div class="card bdr-card border-top-0 border-right-0 border-bottom-0">
						<div class="card-body">
							<h5 class="card-title">CESI Travel</h5>
							<p class="card-text">Partirons nous un jour en voyage ?</p>
						</div>
					</div>
				</div>
                <div class="col-sm-4 text-center mt-5">
					<div class="card bdr-card border-top-0 border-right-0 border-bottom-0">
						<div class="card-body">
							<h5 class="card-title">1D</h5>
							<p class="card-text">Vous pourrez créer votre propre jeux vidéo aider par les autres membres de l'association</p>
						</div>
					</div>
				</div>
                <div class="col-sm-4 text-center mt-5">
					<div class="card bdr-card border-top-0 border-right-0 border-bottom-0">
						<div class="card-body">
							<h5 class="card-title">CESI Dev Factory</h5>
							<p class="card-text">Elle existe encore celle là ?</p>
						</div>
					</div>
				</div>
                <div class="col-sm-4 text-center mt-5">
					<div class="card bdr-card border-top-0 border-right-0 border-bottom-0">
						<div class="card-body">
							<h5 class="card-title">Pixie</h5>
							<p class="card-text">Vous pourrez mettre en commun votre passion pour la photo au sein de concours et d'événements!</p>
						</div>
					</div>
				</div>
                <div class="col-sm-4 text-center mt-5">
					<div class="card bdr-card border-top-0 border-right-0 border-bottom-0">
						<div class="card-body">
							<h5 class="card-title">Game on desk</h5>
							<p class="card-text">Cette association vous proposera de créer et jouer a vos propre jeux de société !</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
