<p>
	DÉCLARATION DE CONFIDENTIALITÉ
	<br>
	<br>
	----
	<br>

	<br>
	ARTICLE 1 – RENSEIGNEMENTS PERSONNELS RECUEILLIS
	<br>

	Lorsque vous effectuez un achat sur notre boutique, dans le cadre de notre processus d’achat et de vente, nous recueillons les renseignements personnels que vous nous fournissez, tels que votre nom, votre adresse et votre adresse e-mail.
	        
	        Lorsque vous naviguez sur notre boutique, nous recevons également automatiquement l’adresse de protocole Internet (adresse IP) de votre ordinateur, qui nous permet d’obtenir plus de détails au sujet du navigateur et du système d’exploitation que vous utilisez.
	        
	        Marketing par e-mail (le cas échéant): Avec votre permission, nous pourrions vous envoyer des e-mails au sujet de notre boutique, de nouveaux produits et d’autres mises à jour.

	<br><br>
	ARTICLE 2 - CONSENTEMENT
	<br>

	Comment obtenez-vous mon consentement?
	<br>

	Lorsque vous nous fournissez vos renseignements personnels pour conclure une transaction, vérifier votre carte de crédit, passer une commande, planifier une livraison ou retourner un achat, nous présumons que vous consentez à ce que nous recueillions vos renseignements et à ce que nous les utilisions à cette fin uniquement.
	        
	        Si nous vous demandons de nous fournir vos renseignements personnels pour une autre raison, à des fins de marketing par exemple, nous vous demanderons directement votre consentement explicite, ou nous vous donnerons la possibilité de refuser.
	        
	        
	        Comment puis-je retirer mon consentement?
	        
	        Si après nous avoir donné votre consentement, vous changez d’avis et ne consentez plus à ce que nous puissions vous contacter, recueillir vos renseignements ou les divulguer, vous pouvez nous en aviser en nous contactant à contact.bdestrasbourg@gmail.com ou par courrier à: BDE CESI Strasbourg Parc Club des Tanneries, 2 Allée des Foulons , Lingolsheim,  67380, France
	<br><br>

	ARTICLE 3 – DIVULGATION
	<br>

	Nous pouvons divulguer vos renseignements personnels si la loi nous oblige à le faire ou si vous violez nos Conditions Générales de Vente et d’Utilisation.
	<br><br>

	ARTICLE 4 – HEBERGEMENT
	<br>

	Nous stockons vos données dans une base de donnée sécurisé sur un serveur OVH.
	        
	        
	        Paiement:
	        
	        Les renseignements relatifs à votre transaction d’achat sont conservés aussi longtemps que nécessaire pour finaliser votre commande. Une fois votre commande finalisée, les renseignements relatifs à la transaction d’achat sont supprimés.
	        
	        Toute commande vous engage a un payement en ligne ou, si non disponible a un payement avec nos membre dans votre centre CESI

	<br><br>

	ARTICLE 5 – SERVICES FOURNIS PAR DES TIERS
	<br>

	Liens
	        
	        Vous pourriez être amené à quitter notre site web en cliquant sur certains liens présents sur notre site. Nous n’assumons aucune responsabilité quant aux pratiques de confidentialité exercées par ces autres sites et vous recommandons de lire attentivement leurs politiques de confidentialité.
	<br><br>

	ARTICLE 6 – SÉCURITÉ<br>

	Pour protéger vos données personnelles, nous prenons des précautions raisonnables et suivons les meilleures pratiques de l’industrie pour nous assurer qu’elles ne soient pas perdues, détournées, consultées, divulguées, modifiées ou détruites de manière inappropriée.
	        
	        Si vous nous fournissez vos informations de carte de crédit, elles seront chiffrées par le biais de l’utilisation du protocole de sécurisation SSL et conservées avec un chiffrement de type AES-256. Bien qu’aucune méthode de transmission sur Internet ou de stockage électronique ne soit sûre à 100 %, nous suivons toutes les exigences de la norme PCI-DSS et mettons en œuvre des normes supplémentaires généralement reconnues par l’industrie.
	<br>
	FICHIERS TÉMOINS (COOKIES)
	        
	        Voici une liste de fichiers témoins que nous utilisons. Nous les avons énumérés ici pour que vous ayez la possibilité de choisir si vous souhaitez les autoriser ou non.
	        
	        
	        
	        cart, contient votre panier dans notre boutique, il seras conservé au maximum 1 an conformément a la durée légale en vigueur
	<br><br>
	ARTICLE 7 – ÂGE DE CONSENTEMENT
	<br>

	En utilisant ce site, vous déclarez que vous avez au moins l’âge de la majorité dans votre État ou province de résidence, et que vous nous avez donné votre consentement pour permettre à toute personne d’âge mineur à votre charge d’utiliser ce site web.
	        
	        
	        ARTICLE 8 – MODIFICATIONS APPORTÉES À LA PRÉSENTE POLITIQUE DE CONFIDENTIALITÉ
	        
	        Nous nous réservons le droit de modifier la présente politique de confidentialité à tout moment, donc veuillez s’il vous plait la consulter fréquemment. Les changements et les clarifications prendront effet immédiatement après leur publication sur le site web. Si nous apportons des changements au contenu de cette politique, nous vous aviserons ici qu’elle a été mise à jour, pour que vous sachiez quels renseignements nous recueillons, la manière dont nous les utilisons, et dans quelles circonstances nous les divulguons, s’il y a lieu de le faire.
	        
	        Si notre boutique fait l’objet d’une acquisition par ou d’une fusion avec une autre entreprise, vos renseignements pourraient être transférés aux nouveaux propriétaires pour que nous puissions continuer à vous vendre des produits.
	        
	        
	        QUESTIONS ET COORDONNÉES
	        
	        Si vous souhaitez: accéder à, corriger, modifier ou supprimer toute information personnelle que nous avons à votre sujet, déposer une plainte, ou si vous souhaitez simplement avoir plus d’informations, contactez notre agent responsable des normes de confidentialité à contact.bdestrasbourg@gmail.com ou par courrier à BDE CESI Strasbourg
	        
	        [Re: Agent des Normes de Confidentialité]
	        
	        [Parc Club des Tanneries, 2 Allée des Foulons , Strasbourg Lingolsheim, A, 67380, France]
	        
	        ----

</p>
