/**
*Custom css sheet,
*Author : Thophile, Samil, Thomas, Lucien
*For : Projet Web CESI 2019
*/

/** Colors **/
*{
--colorOne : #;
--colorTwo : #;
--colorThree : #;
--colorFour : #;
}

body{
    background-color: white;
}

.background{
    background-image: url("../appdata/background.jpg");
    width: 70%;
    height: 700px;
    position: absolute;
    background-repeat: no-repeat;
    margin-left : 318px;
}

.titleindex{
    margin-top : 150px;
    margin-left: 100px;
    color : black;
    font-size: 50px;
}

.titleindex2{

    margin-left: 350px;
    color : rgba(231, 243, 94, 0.966);
    font-size: 50px;;
    background-color: black;
}

/**Overide**/



/**Custom classes**/



/**States**/


#banner{
    margin-top: 0;
    background-image: url("../appdata/banniere.png");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-color: white;
    height: 100px;
}

#navbar{
    margin-top: -50px;
}


