/**
*Custom css sheet,
*Author : Thophile, Samil, Thomas, Lucien
*For : Projet Web CESI 2019
*/

/** Colors **/
*{
--colorOne : #;
--colorTwo : #;
--colorThree : #;
--colorFour : #;
}

/**Overide**/



/**Custom classes**/



/**States**/


