{% extends 'base.html.twig' %}

{% block title %}Editer évènement{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Editer un événement</h1>
			<p class="lead">Vous pouvez éditer un événement depuis cette interface</p>
		</div>
	</div>

    {{ include('evenement/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div style="margin-left : 73%;">
    {{ include('evenement/_delete_form.html.twig') }}
    </div>

    <a href="{{ path('evenement_index') }}" class="btn btn-secondary btn-lg active mrg-left mrg-top mb-4" role="button" aria-pressed="true">Retour à la liste</a>
{% endblock %}
