{% extends 'base.html.twig' %}

{% block title %}Nouvel Evenement{% endblock %}

{% block body %}
    <h1>Créer un nouvel evenement</h1>

    {{ include('evenement/_form.html.twig') }}

    <a href="{{ path('evenement_index') }}">Retour a la liste</a>
{% endblock %}
