{% extends 'base.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block body %}
    <h1>Créer un nouveau produit</h1>

    {{ include('goodies/_form.html.twig') }}

    <a href="{{ path('goodies_index') }}">Retour à la liste</a>
{% endblock %}
